@model ConsertoPraVoce.Model.ModeloAparelho

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "ModeloAparelho", FormMethod.Post, new { @class = "form-horizontal col-md-6" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <h4>Modelos de Aparelhos</h4>
        <hr />
		<fieldset>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroModelo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.NumeroModelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdTipoAparelho, "IdTipoAparelho", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.DropDownList("IdTipoAparelho", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdTipoAparelho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdMarca, "IdMarca", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.DropDownList("IdMarca", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdMarca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-lg-6">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
		</fieldset>
    </div>

	<div>
		@Html.ActionLink("Voltar à Lista", "Index")
	</div>


}

