@model ConsertoPraVoce.Model.Cliente

@{
	ViewBag.Title = "Create";
}
<script>
	$(document).ready(function () {
		buscarMarcas();
	});
	function buscarMarcas() {
		$.getJSON('@Url.Action("BuscarMarcas", "OrdemCompra")', function (result) {
			$("#ddlMarca").html(""); // makes select null before filling process
			var data = result.data;
			for (var i = 0; i < data.length; i++) {
				$("#ddlMarca").append("<option value=" + data[i].Value + ">" + data[i].Text + "</option>")
			}
			buscarModelosAparelhos($("#ddlMarca").val());
		})

	}

	function buscarModelosAparelhos(value) {
		$.getJSON('@Url.Action("BuscarModelosAparelhos", "OrdemCompra")' + "?idMarca=" + value, function (result) {
			$("#IdModeloAparelho").html(""); // makes select null before filling process
			var data = result.data;
			$("#IdModeloAparelho").append("<option value=\"null\">" + "Selecionar" + "</option>")
			for (var i = 0; i < data.length; i++) {
				$("#IdModeloAparelho").append("<option value=" + data[i].Value + ">" + data[i].Text + "</option>")
			}
		})
	}
</script>

@using (Html.BeginForm("Create", "Cliente", FormMethod.Post, new { @class = "form-horizontal col-md-12 col-lg-7" }))
{
	@Html.AntiForgeryToken()

	<div class="row">
		<h4>Cliente</h4>
		<hr />
		<fieldset>
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Telefone1, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-4">
					@Html.EditorFor(model => model.Telefone1, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Telefone1, "", new { @class = "text-danger" })
				</div>

				@Html.LabelFor(model => model.Telefone2, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-4">
					@Html.EditorFor(model => model.Telefone2, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Telefone2, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-4">
					@Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
				</div>
				@Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-4">
					@Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">Marca</label>
				<div class="col-md-4">
					<select class="form-control" id="ddlMarca" onchange="javascript:buscarModelosAparelhos(this.value);"></select>
				</div>

				@Html.LabelFor(model => model.IdModeloAparelho, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-4">
					@Html.DropDownListFor(model => model.IdModeloAparelho, null, "Selecionar", htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.IdModeloAparelho, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Notas, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Notas, new { htmlAttributes = new { @class = "form-control", rows = 5 } })
					@Html.ValidationMessageFor(model => model.Notas, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-lg-6">
					<input type="submit" value="Salvar" class="btn btn-default" />
				</div>
			</div>
		</fieldset>
	</div>

			<div>
				@Html.ActionLink("Voltar à Lista", "Index")
			</div>

}

