@model ConsertoPraVoce.Model.Transacao

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Transacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataTransacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataTransacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorBruto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorBruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PagamentoRecorrente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagamentoRecorrente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalhes)
        </dd>  

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaTransacao.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaTransacao.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conta.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conta.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parcelas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parcelas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdemCompra.DescricaoCurta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdemCompra.DescricaoCurta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdemServico.DescricaoCurta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdemServico.DescricaoCurta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
